# App
APP_NAME=codemaster
APP_PORT=8080
LOG_LEVEL=info
MACHINE_ID=1
ENV=dev

# Authentication
JWT_SECRET=codemaster
INTERNAL_PASSPORT_SECRET=codemaster
GATEWAY_SECRET=codemaster

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=codemaster
POSTGRES_PASSWORD=codemaster
POSTGRES_DB=codemaster
APP_NAME=codemaster
APP_PORT=8080
LOG_LEVEL=info
MACHINE_ID=1
ENV=dev


# CODE RUNNER
# Print docker build console output
PRINT_DOCKER_BUILD_CONSOLE = true
# Print execution time in ms
PRINT_EXECUTION_TIME = true

# Image 
DOCKER_IMAGE_NAME = 'code-executor'
DOCKER_IMAGE_VERSION = 'py-go'

# Time limit in seconds for every run
DEFAULT_TIME_LIMIT = 3
# Memory limit for every run
DEFAULT_MEMORY_LIMIT = '100m'

# Workspace directory
WORKSPACE_DIR = '/workspace'


